/log/*
/conf/*.ini
/conf/*.tmpl
/status/pass/*
/status/pass_expired/*
/status/pass_requested/*
/status/account/*
/status/account_requested/*
/status/setting/*
/status/acceptedlist
/status/lock
!.gitkeep
