/log/*
/conf/*.ini
/conf/*.tmpl
/status/pass/*
/status/pass_expired/*
/status/pass_expiring/*
/status/pass_unauthed/*
/status/pass_inactive/*
/status/account/*
/status/account_unauthed/*
/status/setting/*
/status/acceptedlist
/status/lock
!.gitkeep
