Hi {{ username }},

Your pass of the sites has been issued.

  Issuance time: {{ now }}
  Expire after : {{ expiration_min_of_issuance }} min.

URL: {{ base_url }}/activate.php?username={{ username }}&sessionkey={{ sessionkey }}

