{{username}} さん

{{app_name}} のアカウント登録手続きが開始されました.
このメールに従うことで手続きを進めることができます.

  手続き開始時刻: {{now}}
  手続き有効期間: {{expiration_min_of_registration}} min.
  次の手順のURL : {{base_url }}/signup_setcookie.php?username={{username}}&sessionkey={{sessionkey}}

事前に {{app_name}} のアカウント登録について認識があるなら、
上記URLをクリックして次の手順に進めてください。

----

Hi {{username}},

The registration of your {{app_name}} account has been requested.
This email is a step in the registration process.

  Start at      : {{now}}
  Expire after  : {{expiration_min_of_registration}} min.
  Next step URL : {{base_url }}/signup_setcookie.php?username={{username}}&sessionkey={{sessionkey}}

If you have no doubts about this registration,
please click URL above to complete the process.

