;
;
[ldap]
uri = ldap://example.com:389/
search_basedn = "dc=example,dc=com"
search_nameattr   = uid
search_mailattr   = mail

[totp]
issuer=Example Company Limited
digits=6
period=30

[cron]
interval_sec_of_acceptance=10
interval_min_of_exec_by_cron=5
lifetime_min_of_pass=720
write_command="bin/write_apache_setting.php"
reload_command="bin/reload_apache2.php"

[web]
base_url = https://example.com/otpaccessctl/
expiration_min_of_registration = 15
expiration_min_of_issuance = 15

; app_name = OTPAccessCtl
; org_name = example.com
; lang = en
; enable_signout = false



